# shellcheck shell=bash
source_up
source_env_if_exists .envrc.priv

use asdf

# https://github.com/asdf-community/asdf-golang/issues/28#issuecomment-1619267574
GOPATH="$(asdf where golang)/packages"
GOROOT="$(asdf where golang)/go"
export GOPATH GOROOT
PATH_add "$(go env GOPATH)/bin"
