package lorem

templ IndexTplt() {
	<p class="mb-1 md:pl-0 h-4 pl-2 pr-2 bg-gray-400 w-5/6 leading-relaxed rounded-sm"></p>
	<p class="mb-8 md:pl-0 h-4 pl-2 pr-2 bg-gray-400 w-[32rem] leading-relaxed rounded-sm"></p>
}

